/* .hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rubik-doodle shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.salsa-regular {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

.akronim-regular {
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
} */

::selection {
  color: white;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
  width: 100%;
  /* background-color: red; */
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0%;
  flex-wrap: wrap;
  z-index: 1000000;
  margin-bottom: 0px;
  background-image: linear-gradient(to right, rgb(255, 0, 0) 0%, #ee00ff 100%);
}
nav > a > img {
  margin: 10px px;
  max-width: 300px;
}
.navList {
  display: flex;
  gap: 30px;
  color: gold;
  flex-wrap: wrap;
  align-items: center
}
.navList > li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold
}
.navList > li > a:link {
  color: gold;
  text-decoration: none;
}
.navList > li > a:visited {
  color: gold;
}
.navList > li > a:hover {
  color: red;
  background-color: yellow;
  padding: 10px 10px;
  border-radius: 20px;
}
nav svg {
  color: yellow;
  width: 40px;
}

body > div {
  background-image: url(images/ATHQBG1.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: 100%;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  padding: 5vw;
  text-align: center;
  align-items: center;
}
.headerSection {
  text-align: center;
}
.headerLine1 {
  color: yellow;
  font-weight: bolder;
  font-size: 60px;
  margin: 10px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
}
.headerLine2 {
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
}

.featured {
  margin: 10px auto;
  padding: 10px;
  width: 80vw;
  display: flex;
  gap: 5vw;
  text-align: center;
  justify-content: space-between;
}
.section1 > h2 {
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  margin: 10px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
  text-align: center;
}
.animeFeatured {
  width: 50%;
  height: 50vh;
  background-color:  rgba(213, 213, 213, 0.5);
  border-radius: 50px;
  box-shadow: 0px 0px 50px; 
  scroll-behavior: auto;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.animeFeatured > h3 {
  color: yellow;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
  text-align: center;
}
.animeFeatured > div {
  background-color: rgba(255, 255, 255, 0.677);
  width: 90%;
  text-align: center;
  margin: 10px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 10px;
}
.animeFeatured > div > a > img {
  width: 95%;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.animeFeatured > div > h4 {
  color: red;
  font-weight: bolder;
  font-size: 25px;
  margin: 0px auto;
  text-shadow: 0px 0px 5px yellow;
  text-wrap: pretty;
  text-align: center;
}
.animeFeatured > div > p {
  color: black;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  text-wrap: pretty;
  text-align: left;
}
.animeFeatured > div > .readMore {
  font-weight: bold;
  font-size: 300;
  color: rgb(0, 153, 255);
  background-color: rgba(255, 0, 0, 0.495);
  border-radius: 10mm;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.cartoonFeatured {
  width: 50%;
  height: 50vh;
  background-color:  rgba(213, 213, 213, 0.5);
  border-radius: 50px;
  box-shadow: 0px 0px 50px; 
  scroll-behavior: auto;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.cartoonFeatured > h3 {
  color: yellow;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
  text-align: center;
}
.cartoonFeatured > div {
  background-color: rgba(255, 255, 255, 0.677);
  width: 90%;
  text-align: center;
  margin: 10px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 10px;
}
.cartoonFeatured > div > a > img {
  width: 95%;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cartoonFeatured > div > h4 {
  color: red;
  font-weight: bolder;
  font-size: 25px;
  margin: 0px auto;
  text-shadow: 0px 0px 5px yellow;
  text-wrap: pretty;
  text-align: center;
}
.cartoonFeatured > div > p {
  color: black;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  text-wrap: pretty;
  text-align: left;
}

.readMore {
  font-weight: bold;
  font-size: 300;
  background-color: rgb(255, 0, 0);
  text-shadow:  0px 0px 5px black;
  border-radius: 10mm;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}
.readMore a:link {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}
.readmore a:visited {
  color: gold;
}

main {
  background-image: url(images/ATHQBG2.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: 100%;  
  padding: 5vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 10px;
}
.mainSection {
  width: 95%;
  margin: 0px auto;
}
.mainSection > h2 {
  color: yellow;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 0px 0px 25px rgb(0, 0, 0);
  text-wrap: pretty;
  text-align: left;
  margin: 20px;
}

.post {
  display: flex;
  background-color: rgba(255, 255, 255, 0.825);
  border-radius: 25px;
  box-shadow: 0px 0px 50px; 
  margin: 30px auto;
  padding: 10px;  
}
.post > a > img {
  width: 30vw;
  height: 30vh;
  border-radius: 20px;
  margin: 10px;
  object-fit: cover
  
}
.post  h4 {
  color: red;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 0px 0px 5px yellow;
  text-wrap: pretty;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
}
.post p {
  color: black;
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
  text-wrap: pretty;
  text-align: left;
}
a:link {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: gold;
}


.sideBar {
  margin-top: 58px;
}
.sideBarContent {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.825);
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
}
.sideBarContent h3 {
  color: red;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 0px 0px 5px yellow;
  text-wrap: pretty;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.sideBarContent .catagoryElement {
  display: grid;
  grid-template-columns: 9fr 1fr;
  margin: 8px;
  padding: 3px;
  color: black;
  background-color: rgba(0, 0, 0, 0.108);
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
}
.sideBarContent .catagoryElement:hover {
  /* color: yellow;
  background-color: rgb(255, 44, 44); */
  background-image: linear-gradient(to right, yellow 0%, #ff8400 100%);
  transform: scale(1.1);

}
.catagoryElement div {
  padding: 2px 10px;
}

.popularPost img{
  width: 95%;
}
.popularPost > div > a {
  color: black;
}