.hammersmith-one-regular {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .rubik-doodle shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .akronim-regular {
    font-family: "Akronim", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  ::selection {
    color: white;
    background-color: black;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    max-height: 100px;
    background-color: red;
    text-align: center;
    align-items: center;
    position: sticky;
  }

  img {
    margin: 10px 20px;
    max-width: 300px;
  }

  .navList {
    display: flex;
    gap: 50px;
    color: gold;
  }

  .navList > li {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold
  }

  .navList > li > a:link {
    color: gold;
  }
  .navList > li > a:visited {
    color: gold;
  }
  .navList > li > a:hover {
    color: red;
    background-color: yellow;
    padding: 10px 10px;
    border-radius: 20px;
  }
